.help-page h1,
.help-page .h1,
.help-page h2,
.help-page .h2,
.help-page h3,
.help-page .h3,
#body.help-page,
.help-page-table th,
.help-page-table pre,
.help-page-table p {
    font-family: "Segoe UI Light", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

.help-page pre.wrapped {
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    white-space: pre-wrap;
}

.help-page .warning-message-container {
    margin-top: 20px;
    padding: 0 10px;
    color: #525252;
    background: #EFDCA9; 
    border: 1px solid #CCCCCC;
}

.help-page-table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    margin: 0px 0px 20px 0px;
    border-top: 1px solid #D4D4D4;
}

.help-page-table th {
    text-align: left;
    font-weight: bold;
    border-bottom: 1px solid #D4D4D4;
    padding: 5px 6px 5px 6px;
}

.help-page-table td {
    border-bottom: 1px solid #D4D4D4;
    padding: 10px 8px 10px 8px;
    vertical-align: top;
}

.help-page-table pre,
.help-page-table p {
    margin: 0px;
    padding: 0px;
    font-family: inherit;
    font-size: 100%;
}

.help-page-table tbody tr:hover td {
    background-color: #F3F3F3;
}

.help-page a:hover {
    background-color: transparent;
}

.sample-header {
    border: 2px solid #D4D4D4;
    background: #00497E;
    color: #FFFFFF;
    padding: 8px 15px;
    border-bottom: none;
}

.help-page .sample-content {
    display: block;
    border-width: 0;
    padding: 15px 20px;
    background: #FFFFFF;
    border: 2px solid #D4D4D4;
    margin: 0px 0px 10px 0px;
}

.help-page .api-name {
    width: 40%;
}

.help-page .api-documentation {
    width: 60%;
}

.help-page .parameter-name {
    width: 20%;
}

.help-page .parameter-documentation {
    width: 40%;
}

.help-page .parameter-type {
    width: 20%;
}

.help-page .parameter-annotations {
    width: 20%;
}

.help-page h1,
.help-page .h1 {
    font-size: 36px;
    line-height: normal;
}

.help-page h2,
.help-page .h2 {
    font-size: 24px;
}

.help-page h3,
.help-page .h3 {
    font-size: 20px;
}

#body.help-page {
    font-size: 14px;
    line-height: 143%;
    color: #333;
}

.help-page a {
    color: #0000EE;
    text-decoration: none;
}
.bg-primary {
    background-color: #337ab7;
    color: #fff;
}
a.bg-primary:focus, a.bg-primary:hover {
    background-color: #286090;
}
.bg-success {
    background-color: #dff0d8;
}
a.bg-success:focus, a.bg-success:hover {
    background-color: #c1e2b3;
}
.bg-info {
    background-color: #d9edf7;
}
a.bg-info:focus, a.bg-info:hover {
    background-color: #afd9ee;
}
.bg-warning {
    background-color: #fcf8e3;
}
a.bg-warning:focus, a.bg-warning:hover {
    background-color: #f7ecb5;
}
.bg-danger {
    background-color: #f2dede;
}
a.bg-danger:focus, a.bg-danger:hover {
    background-color: #e4b9b9;
}
.api-doc-info{ border-bottom: 2px solid #767676;padding: 3px;}
.brand-info{ color: #5bc0de;}
.brand-warning{ color: #f0ad4e;}
.text-green{ color: green;}
.package-result{ margin-bottom: 10px;}
.package-result p{ margin: 0;}
.doc-select {
    background-color: #EEE;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
}
.btn-float-right{ float: right;margin-top: -5px;}
body {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAIElEQVQYlWPIPNyexoAHEJInrIN0Eyh3AyETKPcVNnkASo4S4qts7UQAAAAASUVORK5CYII=') repeat;
    text-shadow: 2px 2px 2px #D4D4D4;
}
header {
    background-image: linear-gradient(-90deg, #090718, #0B3232);
}
.api-doc-des {
    background: #1977b0 none repeat scroll 0 0;
    box-shadow: 2px 2px 10px #8c8c8c;
    text-shadow: 2px 2px 2px #222222;
    color: #FFF;
    border-radius: 3px;
    padding: 6px 3px;
}
.bs-docs-nav .navbar-brand, .bs-docs-nav .navbar-nav>li>a{ color: #FFF;}